# --- SECRETOS Y CONFIGURACIÓN (CRÍTICO) ---
.env
.env.local
*.log
*.bak
*.swp

# --- DATOS DE DOCKER (No subir volúmenes) ---
# No queremos subir los GB de archivos de Nextcloud ni la DB del LDAP
nextcloud_data/
nextcloud_db/
ldap_data/
ldap_config/
data/
letsencrypt/
mysql/

# --- SISTEMAS OPERATIVOS ---
# Windows
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Linux
.fuse_hidden
.directory
.Trash-*

# --- ARCHIVOS DE IDE / EDITOR ---
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
CLAUDE.md
